[Unit]
Description=每周触发一次 Live ISO 自动构建

[Timer]
# 有 binpkg 与 distfiles 缓存后增量构建很快，故为周更。触发点即 UTC 周一 22:00,
# 因为到本机 binhost 稳定频道 08:13 UTC 开始构建之间是全天最长的空窗。
OnCalendar=Tue *-*-* 06:00:00 Asia/Shanghai
Persistent=true
RandomizedDelaySec=600

[Install]
WantedBy=timers.target
